* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

#header {
    background-image: url(../img/man-1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

#head {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    padding: 30px;

}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 30px;
}
